* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.section.full {
    height: 100vh;
}

.section.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.bg-purple {
    background-color: #594FE0;
    color: #fff;
}

.bg-blue {
    background-color: #0055B8;
    color: #fff;
}

.flex-column {
    flex-direction: column;
}
